# 1. База данных ----
DB_NAME=api
DB_USER=api
DB_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432

# 2. Django ----
DJANGO_SECRET_KEY=change-me-before-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# 3. Email ----
DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DJANGO_DEFAULT_FROM_EMAIL=noreply@example.com
DJANGO_ADMIN_EMAILS=admin@example.com

# 4. Логгинг ----
DJANGO_LOG_LEVEL=INFO
DJANGO_LOG_SQL=False
